{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <div class="row">

        <div class="col-12">
            <ul>
                {% for question in questions %}
                <li><a href="{{ path('app_questions',{slug: question|lower|replace({' ':'-'} ) }) }}">{{ question }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">
    $(document).ready(function () {
        console.log("Document loaded");
    })

</script>

{% endblock %}