{% extends "base.html.twig" %}

{% block body %}

{# This is a comment #}

<h2>{{ question }}</h2>

<h2>Answers ({{ answers|length }})</h2>

<ul>
    {% for answer in answers %}
    <li>{{ answer }}</li>
    {% endfor %}
</ul>

<a href="{{ path('app_homepage')}}">Go Home</a>
{% endblock %}